<!DOCTYPE html>
<html style="margin: 0">
  <head>
    <title>increment</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="https://incr.easrng.net">
  </head>

  <body
    background="backstar.gif"
    style="margin:16px;margin-top:8px"
  >
    <font color="white" face="'MS Sans Serif', Arial, sans-serif">
      <center>
        <h1>
          <img src="incr_title.gif" alt="increment" style="max-width: 100%;height: auto;" width="307" height="54">
        </h1>
        <font color="black">
          <table
            role="presentation"
            width="500"
            bgcolor="d4d0c8"
            cellpadding="0"
            cellspacing="0"
            style="max-width: 100%;"
          >
            <tr role="presentation">
              <td role="presentation">
                <div
                  style="
                    width: 100%;
                    box-sizing: border-box;
                    border: 1px solid #404040;
                    border-top-width: 0;
                    border-left-width: 0;
                  "
                >
                  <div
                    style="
                      width: 100%;
                      box-sizing: border-box;
                      border: 1px solid #d4d0c8;
                      border-bottom-width: 0;
                      border-right-width: 0;
                    "
                  >
                    <div
                      style="
                        width: 100%;
                        box-sizing: border-box;
                        border: 1px solid #808080;
                        border-top-width: 0;
                        border-left-width: 0;
                      "
                    >
                      <div
                        style="
                          width: 100%;
                          box-sizing: border-box;
                          border: 1px solid #ffffff;
                          border-bottom-width: 0;
                          border-right-width: 0;
                          padding: 4px 6px;
                        "
                      >
                        Get your very own <b>increment</b> button!<br />
                        An <b>increment</b> button is that special touch you
                        need to take your website to the next level.<br />
                        <br />
                        <b role="heading">Features</b><br />
                        &nbsp;- Standard 88&times;31 size<br />
                        &nbsp;- Compatible with every browser that supports
                        <kbd>&lt;iframe&gt;</kbd>s<br />
                        &nbsp;- Advanced AJAX technology&reg;&trade; on supported
                        browsers<br />
                        <br />
                        <b role="heading">Get an increment button</b><br />
                        Just copy this HTML code anywhere on your page:<br />
                        <textarea readonly style="width:100%;resize:none;height:110px;box-sizing:border-box;margin:0;margin-top:4px">&lt;iframe src="//incr.easrng.net/badge?key=changeme" style="background: url(//incr.easrng.net/bg.gif)" title="increment badge" width="88" height="31" frameborder="0"&gt;&lt;/iframe&gt;</textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </font>
        <br />
        <iframe
          src="/badge?key=test"
          style="background: url(/bg.gif)"
          title="increment badge"
          width="88"
          height="31"
          frameborder="0"
        ></iframe>
      </center>
    </font>
  </body>
</html>
